<.header>
  Nueva Categoría
  <:subtitle>Usa este formulario para agregar una nueva categoría.</:subtitle>
</.header>

<.categoria_form changeset={@changeset} action={~p"/categorias"} />

<.back navigate={~p"/categorias"}>Regresar a categorías</.back>
